<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      h1 {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      .article-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
      }

      .article-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }

      .no-image {
        text-align: center;
        padding: 20px;
        background-color: #eee;
        border-radius: 8px;
      }

      .navigation-links {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      .navigation-links button,
      .navigation-links a {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .navigation-links button:hover,
      .navigation-links a:hover {
        background-color: #297fb8;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1><%= title.toUpperCase() %></h1>

    <div class="article-container">
      <h2><%= article[0].title %></h2>
      <p><%= article[0].date %></p>

      <% if (article[0].images) { %>
      <div class="article-image">
        <img
          src="/uploads/<%= article[0].images.filename %>"
          alt="<%= article[0].images.filename %>"
        />
      </div>
      <% } else { %>
      <div class="no-image">
        <span>No Image</span>
      </div>
      <% } %>
      </div>
    </div>
  </body>
</html>
