<!-- editNews.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit News - <%= title %></title>
    <link rel="website icon" type="jpg" href="/images/web-icon.jpg" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        #content {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        font-size: 16px;
        line-height: 1.5;
        resize: vertical;
      }
      #content:focus {
        outline: none;
        border: 2px solid #0d9488;
        box-shadow : 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
      }
        label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 14px;
        color: #333;
      }
      h1 {
        text-align: center;
      }

      .formInput:focus {
        outline: none;
        border: 2px solid #0d9488;
        box-shadow: 10px 10px 60px #00000041, inset -10px -10px 60px #ffffff40;
        
      }
      .backButton {
        background-color: #0d9488;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .backButton:hover {
        background-color: #075e54; 
      }
      .editButton {
        background-color: #0d9488;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, box-shadow 0.3s; 
        box-shadow: 5px 5px 20px #00000041, inset -5px -5px 20px #ffffff40; 
      }

      .editButton:hover {
        background-color: #075e54;
        box-shadow: 10px 10px 60px #00000041, inset -10px -10px 60px #ffffff40; 
      }
    </style>
    <script>
        function updateNews() {
            let title = document.getElementById("title").value;
            let content = document.getElementById("content").value;
            let category = document.getElementById("category").value;
            let state = document.getElementById("state").value
            fetch(`/editNews/<%=id%>`, {
                method: "put",
                headers: {"Content-Type":"application/json"},
                body: JSON.stringify({
                    "title":title,
                    "content":content,
                    "category":category,
                    "state":state,
                })
            }).then((res)=>{
                if (res.ok) {
                    window.location.replace("/allNews")
                }
            }).catch((err)=> console.error(err))
        }
        function goBack() {
        window.history.back();
      }
    </script>
</head>
<body class="bg-gray-50">
    <div class="mb-2">
        <%- include('header.ejs') %>
    </div>    
    <div class="ml-6 mb-2">
        <button class="backButton rounded-lg shadow-md" onclick="goBack()">Go Back</button>
    </div>
    <div class="max-w-md mx-auto bg-white p-8 border rounded-lg shadow-md" style="box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;">
      <h1 class="text-xl font-bold mb-4">Update News</h1>
            <div class="mb-4">
                <label for="title" class="block text-sm font-medium text-gray-600">Title</label>
                <input type="text" name="title" id="title" value="<%= news.title %>" class="mt-1 p-2 w-full border rounded-lg shadow-md formInput" required >
            </div>
            <div class="mb-4">
                <label for="state" class="block text-sm font-medium text-gray-600">Select State:</label>
                <select id="state" name="state" class="p-2 m-1 border rounded-lg shadow-md formInput">
                    <option value="telangana" <%= news.state === 'telangana' ? 'selected' : '' %>>Telangana</option>
                    <option value="andhrapradesh" <%= news.state === 'andhrapradesh' ? 'selected' : '' %>>Andhra Pradesh</option>
                    <option value="other" <%= news.state === 'other' ? 'selected' : '' %>>Other</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="content" class="block text-sm font-medium text-gray-600">Content</label>
                <textarea id="content" name="content" rows="10" cols="50" class="shadow-md rounded-lg" required><%= news.content %></textarea>
            </div>
            <div class="mb-4">
                <label for="category" class="block text-sm font-medium text-gray-600">Select category:</label>
                <select id="category" name="category" class="p-2 m-1 border rounded-lg shadow-md formInput">
                  <option value="politics" <%= news.category === 'politics' ? 'selected' : '' %>>Politics</option>
                    <option value="cinema" <%= news.category === 'cinema' ? 'selected' : '' %>>Cinema</option>
                    <option value="sports" <%= news.category === 'sports' ? 'selected' : '' %>>Sports</option>
                    <option value="business" <%= news.category === 'business' ? 'selected' : '' %>>Business</option>
                    <option value="spirituality" <%= news.category === 'spirituality' ? 'selected' : '' %>>Spirituality</option>
                    <option value="history" <%= news.category === 'history' ? 'selected' : '' %>>History</option>
                </select>
            </div>
            <button onclick="updateNews()" class="w-full text-white p-3 rounded-lg editButton" style="background-color: #0d9488" >
                Update News
            </button>
    </div>
</body>
</html>
