<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <style>
      /* Custom styles for centering and resizing the slider */
      .swiper-container {
        width: 50%; /* Adjust as needed */
        height: 300px; /* Adjust the height as needed */
        margin: auto; /* Center the slider */
        position: relative; /* Position for absolute navigation buttons */
        overflow: hidden; /* Hide overflow to prevent next/prev images from being visible */
        box-shadow: 5px 5px 15px #00000041, inset -5px -5px 15px #ffffff40;
      }
      @media (max-width: 640px) {
        .swiper-container {
          width: 100%;
        }
      }
      .swiper-slide {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
      .swiper-slide img {
        width: 100%;
        height: 300px;
        object-fit: fill;
      }

      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 1; /* Ensure buttons appear above the image */
        transition: background-color 0.3s;
      }
      .swiper-button-next:hover,
      .swiper-button-prev:hover {
        background-color: rgba(
          0,
          0,
          0,
          0.5
        ); /* Change background color on hover */
      }
      .swiper-pagination {
        z-index: 1;
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 2rem;
        color: #333; /* Adjust the color as needed */
      }
      .swiper-button-prev::after {
        content: "\2039"; /* Unicode character for left-pointing arrow */
      }
      .swiper-button-next::after {
        content: "\203A"; /* Unicode character for right-pointing arrow */
      }
      .swiper-button-prev {
        left: 10px;
      }
      .swiper-button-next {
        right: 10px;
      }
      .group:hover .hidden {
        display: block;
      }
      #container {
        display: flex;
        flex-direction: column;
        border: 1px solid red;
        width: 200px;
        height: auto;
        border-radius: 10px;
        background: #fff;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
      }
      .sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 64px; /* Set your preferred width */
        background-color: #ffffff; /* Add your preferred background color */
        box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
        z-index: 2;
      }
      .sidebar.open {
        display: block;
      }
      .content-container {
        transition: margin-left 0.3s ease;
        margin-left: 0;
        z-index: 1; /* Adjust the margin to match the sidebar width */
      }
      body {
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
      }
      #closeSidebar {
        transition: transform 0.3s; /* Add a transition effect for the transform property */
      }

      #closeSidebar:hover {
        transform: scale(1.2); /* Zoom in by 10% on hover */
      }
      .topButton {
        background-color: #aee9e5;
        transition: transform 0.3s ease-in-out;
        box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
      }
      .topButton:hover {
        transform: scale(1.1);
        background-color: #0d9488;
      }

      @media (max-width: 640px) {
        .sidebar {
          display: none; /* Hide the sidebar on small screens by default */
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%; /* Make the sidebar full width on small screens */
          background-color: #ffffff;
          box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
          z-index: 2;
        }

        .sidebar.open {
          display: block;
        }
        .content-container {
          margin-left: 0;
        }
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mandali:wght@400&display=swap"
    />
  </head>
  <body class="bg-green-50">
    <%- include('header.ejs') %>
    <div class="max-w-2xl mx-auto"><%- include('sidebar.ejs') %></div>
    <div class="content-container">
      <div
        class="p-4 mb-4 text-black text-sm flex border rounded-lg items-center"
      >
        <div class="relative group flex">
          <button id="toggleSidebar" onclick="Open()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
        <div class="topButton border rounded-lg p-2 mx-4">
          <a href="/" class="font-bold">Home</a>
        </div>
        <div class="topButton border rounded-lg p-2 mr-4">
          <a href="/allNews" class="font-bold">News</a>
        </div>
        <div class="topButton border rounded-lg p-2 mr-4">
          <a href="/epaper" class="font-bold">E-Paper</a>
        </div>
        <div class="topButton border rounded-lg p-2 mr-4">
          <a href="/videos" class="font-bold">Videos</a>
        </div>
      </div>
      <div class="swiper-container mb-6">
        <div class="swiper-wrapper">
          <% if (todaysNews.length > 0) { %> <% todaysNews.forEach(news => { %>
          <div class="swiper-slide">
            <a href="/news/<%=news.id%>">
              <img
                src="/uploads/<%= news.image.filename %>"
                alt="<%= news.title %>"
                loading="lazy"
              />
            </a>
          </div>
          <% }) %> <% } else { %>
          <div class="swiper-slide">
            <p>No news available for today.</p>
          </div>
          <% } %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="grid grid-cols-4"><%- include('newsListItems') %></div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var mySwiper = new Swiper(".swiper-container", {
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          autoplay: {
            delay: 2000,
          },
        });
      });
      document.addEventListener("DOMContentLoaded", function () {
        const sidebar = document.querySelector(".sidebar");
        const toggleButton = document.getElementById("toggleSidebar");
        const closeSidebarbutton = document.getElementById("closeSidebar");

        toggleButton.addEventListener("click", function () {
          sidebar.classList.toggle("open");
        });

        closeSidebarbutton.addEventListener("click", function () {
          sidebar.classList.remove("open");
        });
      });
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
  </body>
</html>
