<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
      }

      .article-box {
        width: 300px;
        border: 1px solid #ddd;
        padding: 16px;
        margin: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 500px; /* Set your preferred height */
        background-color: #0d9488; /* Background color */
        color: white; /* Text color */
        border-radius: 8px; /* Border radius */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
      }

      .article-box h2 {
        font-size: 17px; /* Font size */
        font-weight: 600; /* Font weight */
        margin-bottom: 16px;
      }

      .article-date {
        font-size: 14px;
        margin-bottom: 8px;
        color: white; /* White color */
      }

      .article-image {
        flex-grow: 1;
      }

      .article-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      .no-image {
        flex-grow: 1;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }

      #noPapersMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        display: block;
        background: "mdi mdi-24px mdi-clock-outline" no-repeat;
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .custom-date-input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        width: 150px;
        transition: border-color 0.3s ease;
        cursor: pointer;
      }

      .custom-date-input:hover {
        border-color: #999;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include('header.ejs') %> <%- include("navBar.ejs")%>
    <h1
      class="text-3xl mb-2"
      style="font-size: 24px; font-weight: bold; text-align: center"
    >
      <%= state.toUpperCase() %> PAPERS
    </h1>
    <input
      type="date"
      id="dateInput"
      onchange="displaySelectedDate()"
      class="custom-date-input"
    />
    <div class="flex-container gap-4 p-4">
      <% for (let i = 0; i < articles.length; i++) { %>
      <div class="article-box rounded-lg">
        <% const article = articles[i]; %>
        <div class="article-date">
          <% let date = new Date(article.date); %> <% let formattedDate =
          date.toLocaleDateString('en-US', { month: 'long', day: 'numeric',
          year: 'numeric' }); %>
          <div class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="white"
              class="w-6 h-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
              />
            </svg>
            <%= formattedDate %>
          </div>
        </div>
        <% if (article.images) { %>
        <div class="article-image">
          <a href="/epaper/<%= article.state %>/<%= article.id %>">
            <img
              src="/uploads/<%= article.images.filename %>"
              alt="<%= article.images.filename %>"
            />
          </a>
        </div>
        <% } else { %>
        <div class="no-image">
          <span>No Image</span>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dateInput = document.querySelector('input[type="date"]');
        const articleBoxes = document.querySelectorAll(".article-box");
        const noPapersMessage = document.createElement("div");
        noPapersMessage.textContent = "No papers available";
        noPapersMessage.style.display = "none";
        noPapersMessage.style.color = "red";
        noPapersMessage.id = "noPapersMessage";
        dateInput.addEventListener("change", function () {
          const selectedDate = new Date(this.value);
          let papersFound = false;

          articleBoxes.forEach(function (articleBox) {
            const articleDateElement =
              articleBox.querySelector(".article-date");
            const articleDateString = articleDateElement
              .querySelector("div")
              .innerText.trim();
            const articleDate = new Date(articleDateString);

            if (
              articleDate.getDate() === selectedDate.getDate() &&
              articleDate.getMonth() === selectedDate.getMonth() &&
              articleDate.getFullYear() === selectedDate.getFullYear()
            ) {
              articleBox.style.display = "block";
              papersFound = true;
            } else {
              articleBox.style.display = "none";
            }
          });

          const noPapersMessageElement =
            document.getElementById("noPapersMessage");
          if (!papersFound) {
            noPapersMessageElement.style.display = "block";
          } else {
            noPapersMessageElement.style.display = "none";
          }
        });
        document.body.appendChild(noPapersMessage);
      });
      function displaySelectedDate() {
        var input = document.getElementById("dateInput");
        var selectedDate = input.value;
        var dateArray = selectedDate.split("-");
        var formattedDate =
          dateArray[1] + "/" + dateArray[2] + "/" + dateArray[0];
        input.setAttribute("value", formattedDate);
      }
      document.addEventListener("DOMContentLoaded", function () {
        var today = new Date();
        var month = String(today.getMonth() + 1).padStart(2, "0");
        var day = String(today.getDate()).padStart(2, "0");
        var year = today.getFullYear();
        var formattedTodayDate = year + "-" + month + "-" + day;
        var input = document.getElementById("dateInput");
        input.value = formattedTodayDate;
      });
    </script>
  </body>
</html>
