<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      .flex-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
      }

      .article-box {
        width: 300px; /* Set your preferred width */
        border: 1px solid #ddd;
        padding: 16px;
        margin: 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 500px; /* Set your preferred height */
        background-color: #0d9488; /* Background color */
        color: white; /* Text color */
        border-radius: 8px; /* Border radius */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow */
      }

      .article-box h2 {
        font-size: 17px; /* Font size */
        font-weight: 600; /* Font weight */
        margin-bottom: 16px;
      }

      .article-date {
        font-size: 14px;
        margin-bottom: 8px;
        color: white; /* White color */
      }

      .article-image {
        flex-grow: 1;
      }

      .article-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }

      .no-image {
        flex-grow: 1;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <%- include('header.ejs') %>
    <%- include("navBar.ejs")%>
    <h1
      class="text-3xl mb-2"
      style="font-size: 24px; font-weight: bold; text-align: center"
    >
      <%= state.toUpperCase() %> PAPERS
    </h1>
    <div class="flex-container gap-4 p-4">
      <% for (let i = 0; i < articles.length; i++) { %>
      <div class="article-box rounded-lg">
        <% const article = articles[i]; %>
        <div class="article-date">
          <% let date = new Date(article.date); %> <% let formattedDate =
          date.toLocaleDateString('en-US', { month: 'long', day: 'numeric',
          year: 'numeric' }); %>
          <div class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="white"
              class="w-6 h-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
              />
            </svg>
            <%= formattedDate %>
          </div>
        </div>
        <% if (article.images) { %>
        <div class="article-image">
          <a href="/epaper/<%= article.state %>/<%= article.id %>">
            <img
              src="/uploads/<%= article.images.filename %>"
              alt="<%= article.images.filename %>"
            />
          </a>
        </div>
        <% } else { %>
        <div class="no-image">
          <span>No Image</span>
        </div>
        <% } %>
      </div>
      <% } %>
    </div>
  </body>
</html>
