<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />
  <script src="https://www.youtube.com/iframe_api"></script>
  <script>
    var players = {}; 

    function onYouTubeIframeAPIReady() {
      <% videos.forEach((video, index) => { %>
        var videoId_<%= index %> = getYouTubeVideoId('<%= video.url %>');
        players[<%= index %>] = new YT.Player('player_<%= index %>', {
          height: '360',
          width: '640',
          videoId: videoId_<%= index %>,
        });
      <% }); %>

      function getYouTubeVideoId(url) {
        var regex = /[?&]v=([^&#]*)/;
        var match = url.match(regex);
        return match && match[1] ? match[1] : null;
      }

      function deleteVideo(id) {
          fetch(`/deleteVideo/${id}`, {
            method: "delete",
            headers: { "Content-Type": "application/json" },
          }).then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          }).catch((err) => console.error(err))
        }
      }
  </script>
</head>

<body>
  <%- include('header.ejs') %>
  <a href="/createVideo">Add video</a>
  <div class="container mx-auto mt-8">
    <% if (videos && videos.length > 0) { %> 
      <% videos.forEach((video, index) => { %>
        <div class="mb-8">
          <h2 class="text-2xl font-bold mb-4 text-center"><%= video.title %></h2>
          <div>
            <button onclick="deleteVideo('<%= video.id %>')" class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
          </div>
          <div class="aspect-w-16 aspect-h-9 flex items-center justify-center">
            <% if (video.url.includes('youtube.com/embed')) { %>
              <iframe
                width="640"
                height="360"
                src="<%= video.url %>"
                frameborder="0"
                allowfullscreen
              >
            <% } else { %>
              <div id="player_<%= index %>"></div>
            <% } %>
          </div>
          
        </div>
      <% }); %> 
    <% } else { %>
      <p>No videos available</p>
    <% } %>
  </div>
</body>

</html>
