<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <style>
      /* Additional custom styles can be added here */
    </style>
    <script>
      function getYouTubeID(url) {
        console.log("test");
        var video_id = url.split("v=")[1];
        var ampersandPosition = video_id.indexOf("&");
        if (ampersandPosition != -1) {
          video_id = video_id.substring(0, ampersandPosition);
        }
        console.log(video_id);
        return video_id;
      }

      function deleteVideo(id) {
        fetch(`/deleteVideo/${id}`, {
          method: "delete",
          headers: { "Content-Type": "application/json" },
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>

  <body class="bg-gray-100">
    <% include('header.ejs') %> <% include('navBar.ejs') %>
    <div class="container mx-auto px-4 py-8">
      <a href="/createVideo" class="block mb-4 text-blue-500">Add video</a>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <% if (videos && videos.length > 0) { %> <%
        videos.forEach((video,index)=> { %>
        <div class="border rounded-lg p-4 bg-white">
          <h2 class="text-xl font-semibold mb-2"><%= video.title %></h2>
          <div class="relative aspect-w-16 aspect-h-9 mb-4">
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/<%= getYouTubeID(video.url) %>"
              title="<%= video.title %>"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
          <button
            onclick="deleteVideo('<%= video.id %>')"
            class="block w-full bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
          >
            Delete
          </button>
        </div>
        <% })} %>
      </div>
    </div>
  </body>
</html>
